{% extends "base.html" %}


{% block title %}
<title>POSTUPIL TEST</title>
{% endblock %}


{% block content %}

<!-- Page items -->

<div class="container-total">
    <div class="container-main">
        <h1 style="text-align:center;width:100%;padding:20px 0">О Проекте</h1>
        {% for text in text %}
            <p style="font-size:24px; margin: 0;text-align:center;width:100%;padding:0 10vw;">{{text}}</p>
        {% endfor %}
        <div class="line-button" style="display: flex; padding: 20px 0; display: flex; width: auto">
            <div class="line" style="background: orange;margin: 0 auto; margin-top:30px; width: 30vw"></div>
            <img src="{{ url_for( 'static', filename='img/server/logo.png')}}" height=60 width=60/>
            <div class="line" style="background: orange;margin: 0 auto; margin-top:30px;  width: 30vw"></div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
{% endblock %}