{% extends "ed_index.html" %}


{% block tools %}
    {% if step == 1 %}
        <div class="title_tools" style="padding:10px">
            <input class="form-control" type="text" style="height:max-content;align-self:right;margin: 0;width:80px;" name="name" autocomplete="off" placeholder="name">
            <textarea name="faculties" rows="5" cols="70" wrap="virtual" style="height:max-content;width: 400px;margin: 0 20px"></textarea>
            <input class="form-control" type="text" style="height:max-content;align-self:right;margin: 0;width:300px;" name="com_link" autocomplete="off" placeholder="com_link">
        </div>
    {% endif %}
    {% if step == 2 %}
        {%for i in sub%}
            <div class="title_tools" style="padding:10px">
                <h4 style="padding: 0 20px">{{i.name}}: </h4>
                <input class="form-control" type="number" max="100" min="0" style="align-self:right;margin: 0;width:80px;" name="scr_{{i.id}}" autocomplete="off" placeholder="limit_score">
            </div>
        {% endfor %}
    {% endif %}
    {% if step == 3 %}
        {%for i in ind_ach%}
            <div class="title_tools" style="padding:10px">
                <p style="padding: 0 20px">{{i.name}}: </p>
                <p style="padding: 0 20px">{{i.descr}}: </p>
                <input class="form-control" type="number" max="10" min="0" style="align-self:right;margin: 0;width:80px;" name="point_{{i.id}}" autocomplete="off" placeholder="point">
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}