{% extends "ed_index.html" %}


{% block tools %}
    <h4>Текст помощи</h4>
    <textarea name="help_page" rows="8" cols="120" wrap="virtual">{{help}}</textarea>
    <div class="line" style="background-color: #000;margin:20px;"></div>
    <h4>Текст информационной страницы</h4>
    <textarea name="about_us" rows="8" cols="120" wrap="virtual">{{about_us}}</textarea>
    <div class="line" style="background-color: #000;margin:20px;"></div>
    <h4>Текст правил заполнения ИД</h4>
    <textarea name="rules" rows="8" cols="120" wrap="virtual">{{rules}}</textarea>
{% endblock %}