{% extends "ed_index.html" %}


{% block tools %}
    <a href="/add_uni/1" ><h4 style="padding-right: 20px">Добавить университет</h4></a>
    {% for i in uni %}
        <div class="title_tools" style="padding:10px">
            <a href="/ed_uni/{{i.id}}" ><h4 style="padding-right: 20px">{{i.name}}</h4></a>
            <textarea name="{{i.id}}" rows="1" cols="70" wrap="virtual" style="">{{i.com_link}}</textarea>
        </div>
        <a href="/del_uni/{{i.id}}" onclick="f_del()"><h4 style="padding-right: 20px;margin-bottom:10px">Удалить университет</h4></a>
    {% endfor %}
{% endblock %}