{% extends "base.html" %}


{% block title %}
<title>POSTUPIL TEST</title>
{% endblock %}


{% block content %}

<!-- Page items -->
<div class="popup_help">
    <div class="popup_bg_help"></div>
    <div class="help">
        <h2 style="text-align:center;width:100%;margin-bottom:20px">Правила заполнения поля Индивидуальные Достижения</h2>
        {% for text in help_text %}
            <p style="font-size:14px; margin: 0;text-align:left;width:100%;padding:5px 0">{{text}}</p>
        {% endfor %}
    </div>
</div>
<div class="container-total">
    <div class="container-main">
        <form method="post" enctype="multipart/form-data">
            <h4 style="color: #000; padding: 30px 0 10px 20px">Введите Ваш ВУЗ и факультет или выберите рекомендации, чтобы получить наш топ ВУЗ-ов для поступления</h4>
            <div class="edu_org">
                <div class="bg_edu" style="display: flex;">
                    <p style="display: inline-block;padding-left:20px; padding-right:10vw;margin:0"><input style="margin-top:112px;" name="mode" type="radio" value="recommend" checked> Рекомендации</p>
                    <div class="edu_org">
                        <p style="display: inline-block;padding:0 10px;margin:0;width: max-content; max-width: 20vw"><input style="margin-top:112px;" name="mode" type="radio" value="manual" onclick="this.form.faculties.disabled=0;"
                        onreset="this.form.faculties.disabled=1;"> Ручной выбор</p>
                        <div>
                            {%for i in col_edu%}
                                <input class="form-control" type="text" list="faculties" style="align-self:right;margin :10px 0 10px 10px;width:300px;" name="faculties" autocomplete="off" id="1" placeholder="-" disabled>
                                <datalist id="faculties">
                                    {% for j in faculties%}
                                    <option>{{j}}</option>
                                    {%endfor%}
                                </datalist>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-yellow" style="width: 90%; margin-left: 5%"></div>
            <div class="ege">
                <h4 style="color: #000;margin: 0 20px 20px 0">Введите Ваши результаты по ЕГЭ:</h4>
                {%for i in subs%}
                    <div style="display:flex">
                        <p style="padding: 15px 0 0 10px;width:150px">{{i}}</p>
                        <input class="form-control" type="number" max="100" min="0" style="align-self:right;margin :10px 0 10px 10px;width:300px;" name="{{i}}" autocomplete="off" id="{{i}}" placeholder="{{i}}">
                    </div>
                {%endfor%}
            </div>
            <div class="line-yellow" style="width: 90%; margin-left: 5%"></div>
            <div class="ind_achieve">
                <div style="margin: 0 20px 20px 0;display: flex;">
                    <h4 style="color: #000;">Введите Ваши индивидуальные достижения(ИД):</h4>
                    <img class="help_button" style="cursor:pointer"
                        src="{{ url_for( 'static', filename='img/server/help.png')}}" height=15
                        width=15/>
                </div>
                <div class="bg_edu" style="display: flex;">
                    <p style="display: inline-block;padding-left:20px; padding-right:10vw;margin:0"><input style="margin-top:112px;" name="mode_achieve" type="radio" value="no_ind_achieve" checked> Без ИД</p>
                    <div class="edu_org">
                        <p style="display: inline-block;padding:0 10px;margin:0;width: max-content; max-width: 20pw">
                            <input style="margin-top:112px;" name="mode_achieve" type="radio" value="ind_achieve" onclick="this.form.ind_achieve.disabled=0;" onreset="this.form.ind_achieve.disabled=1;">
                            Ввести ИД
                        </p>
                        <textarea name="ind_achieve" rows="12" style="align-self:right;margin :10px 0 10px 10px;width:max-content;min-width:450px;" disabled></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="margin:20px">Анализировать</button>
        </form>
    </div>

</div>

{% endblock %}

{% block script %}
<script>
    $(function(){
        $(".help_button").click(function() {
            $(".popup_help").css({"display":"block"})
        });
        $(".popup_bg_help").click(function() {
            $(".popup_help").css({"display":"none"})
        });
    });
</script>
{% endblock %}