{% extends "base.html" %}


{% block title %}
<title>POSTUPIL TEST</title>
{% endblock %}


{% block content %}

<!-- Page items -->

<div class="container-total">
    <div class="container-main">
        <h1 style="text-align:center;width:100%;padding:20px 0">Список Индивидуальных достижений</h1>
        {% for i in ind_ach %}
        <div style="display: flex;padding: 5px 0">
            <p style="font-size:20px; margin: 0;text-align:center;width:30%;padding:0 15px;vertical-align: center">{{i.name}}</p>
            <p style="font-size:18px; margin: 0;text-align:center;width:30%;padding:0 15px;">{{i.descr}}</p>
        </div>
        {% endfor %}
        <div class="line-button" style="display: flex; padding: 20px 0; display: flex; width: auto">
            <div class="line" style="background: orange;margin: 0 auto; margin-top:30px; width: 30vw"></div>
            <img src="{{ url_for( 'static', filename='img/server/logo.png')}}" height=60 width=60/>
            <div class="line" style="background: orange;margin: 0 auto; margin-top:30px;  width: 30vw"></div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
{% endblock %}