{% extends "base.html" %}


{% block title %}
<title>POSTUPIL TEST</title>
{% endblock %}


{% block content %}

<!-- Page items -->
<div class="container-total">
    <div class="container-main">
        <form method="post" enctype="multipart/form-data">
            <h4 style="color: #000; padding: 30px 0 10px 20px">Select your education profile</h4>
            <div class="edu_org">
                <div class="bg_edu" style="display: flex;">
                    <p style="display: inline-block;padding-left:20px; padding-right:15vw;margin:0"><input style="margin-top:112px;" name="mode" type="radio" value="recommend" checked> Recommendation</p>
                    <div class="edu_org">
                        <p style="display: inline-block;padding:0 10px;margin:0"><input style="margin-top:112px;" name="mode" type="radio" value="manual" onclick="this.form.faculties_1.disabled=0;
                        this.form.faculties_2.disabled=0;this.form.faculties_3.disabled=0;this.form.faculties_4.disabled=0;this.form.faculties_5.disabled=0;"
                        onreset="this.form.faculties_1.disabled=1;
                        this.form.faculties_2.disabled=1;this.form.faculties_3.disabled=1;this.form.faculties_4.disabled=1;this.form.faculties_5.disabled=1;"> Manual selection</p>
                        <div>
                            {%for i in col_edu%}
                                <input class="form-control" type="text" list="faculties" style="align-self:right;margin :10px 0 10px 10px;width:300px;" name="faculties_{{i}}" autocomplete="off" id="1" placeholder="-" disabled>
                                <datalist id="faculties">
                                    {% for j in faculties%}
                                    <option>{{j}}</option>
                                    {%endfor%}
                                </datalist>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-yellow" style="width: 90%; margin-left: 5%"></div>
            <div class="ege">
                <h4 style="color: #000;margin: 0 20px 20px 0">Your EGE scores:</h4>
                {%for i in subs%}
                    <div style="display:flex">
                        <p style="padding: 15px 0 0 10px;width:100px">{{i}}</p>
                        <input class="form-control" type="number" max="100" min="0" style="align-self:right;margin :10px 0 10px 10px;width:300px;" name="{{i}}" autocomplete="off" id="{{i}}" placeholder="{{i}}">
                    </div>
                {%endfor%}
            </div>
            <button type="submit" class="btn btn-primary" style="margin:20px">Analyze</button>
        </form>
    </div>

</div>

{% endblock %}

{% block script %}

{% endblock %}